Required libraries:-

requests
bs4-beautifulsoup4
sentence-transformers
torch
transformers
serpapi
scikit-learn
BS4  
tldextract
datetime 
google-search-results


Required API keys:-

SERP API
Huggingface API

